<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <input type="text" class="form-control" id="contactMethodName" placeholder="Enter ContactMethod's Name" ng-model="vm.contactMethod.contactMethodName">
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <button type="button" class="btn btn-large btn-block btn-success" ng-disabled="!vm.canAdd()" ng-click="vm.addContactMethod()">Add ContactMethod</button>
  </div>
</div>
<div class="row">
  <ul>
    <li ng-repeat="contactMethod in vm.contactMethods track by $index">{{contactMethod.contactMethodName}}

      <button type="button" class="close pull-right" data-dismiss="modal" ng-disabled="!vm.canDelete()" ng-click="vm.deleteContactMethod(contactMethod)"
        uib-tooltip="Delete this ContactMethod">×</button>
    </li>
  </ul>
</div>
