<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

    <img src="assets/images/people/unknown.jpg" class="img-responsive" alt="Image">

  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Field</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Title</td>
            <td uib-tooltip="Tooltip For Title"> <a uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"> {{vm.debtor.title}} </a> </td>
          </tr>
          <tr>
            <td>DebtorName</td>
            <td uib-tooltip="Tooltip For DebtorName"> <a uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"> {{vm.debtor.debtorName}} </a> </td>
          </tr>
          <tr>
            <td>IsCompany</td>
            <td uib-tooltip="Tooltip For IsCompany"> <a uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"> {{vm.debtor.isCompany}} </a> </td>
          </tr>
          <tr>
            <td>FirstName</td>
            <td uib-tooltip="Tooltip For FirstName"> <a uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"> {{vm.debtor.firstName}} </a> </td>
          </tr>
          <tr>
            <td>LastName</td>
            <td uib-tooltip="Tooltip For LastName"> <a uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"> {{vm.debtor.lastName}} </a> </td>
          </tr>
          <tr>
            <td>Avatar</td>
            <td uib-tooltip="Tooltip For Avatar"> <a uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"> {{vm.debtor.avatar}} </a> </td>
          </tr>
          <tr>
            <td>Deceased</td>
            <td uib-tooltip="Tooltip For Deceased"> <a uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"> {{vm.debtor.deceased}} </a> </td>
          </tr>
          <tr>
            <td>Trust</td>
            <td uib-tooltip="Tooltip For Trust"> <a uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"> {{vm.debtor.trust}} </a> </td>
          </tr>
          <tr>
            <td>Proxy</td>
            <td uib-tooltip="Tooltip For Proxy"> <a uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"> {{vm.debtor.proxy}} </a> </td>
          </tr>
          <tr>
            <td>Birthdate</td>
            <td uib-tooltip="Tooltip For Birthdate"> <a uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"> {{vm.debtor.birthdate}} </a> </td>
          </tr> 
        </tbody>
      </table>
    </div>

  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
Demographic Deatails
  </div>
</div>
