<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <input type="text" class="form-control" id="debtorName" placeholder="Enter Debtor's Name" ng-model="vm.debtor.debtorName">
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <button type="button" class="btn btn-large btn-block btn-success" ng-disabled="!vm.canAdd()" ng-click="vm.addDebtor()">Add Debtor</button>
  </div>
</div>
<div class="row">
  <ul>
    <li ng-repeat="debtor in vm.debtors track by $index">{{debtor.debtorName}}

      <button type="button" class="close pull-right" data-dismiss="modal" ng-disabled="!vm.canDelete()" ng-click="vm.deleteDebtor(debtor)"
        uib-tooltip="Delete this Debtor">×</button>
    </li>
  </ul>
</div>
