<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <input type="text" class="form-control" id="receiptBookName" placeholder="Enter ReceiptBook's Name" ng-model="vm.receiptBook.receiptBookName">
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <button type="button" class="btn btn-large btn-block btn-success" ng-disabled="!vm.canAdd()" ng-click="vm.addReceiptBook()">Add ReceiptBook</button>
  </div>
</div>
<div class="row">
  <ul>
    <li ng-repeat="receiptBook in vm.receiptBooks track by $index">{{receiptBook.receiptBookName}}

      <button type="button" class="close pull-right" data-dismiss="modal" ng-disabled="!vm.canDelete()" ng-click="vm.deleteReceiptBook(receiptBook)"
        uib-tooltip="Delete this ReceiptBook">×</button>
    </li>
  </ul>
</div>
