<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <input type="text" class="form-control" id="sectorName" placeholder="Enter Sector's Name" ng-model="vm.sector.sectorName">
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <button type="button" class="btn btn-large btn-block btn-success" ng-disabled="!vm.canAdd()" ng-click="vm.addSector()">Add Sector</button>
  </div>
</div>
<div class="row">
  <ul>
    <li ng-repeat="sector in vm.sectors track by $index">{{sector.sectorName}}

      <button type="button" class="close pull-right" data-dismiss="modal" ng-disabled="!vm.canDelete()" ng-click="vm.deleteSector(sector)"
        uib-tooltip="Delete this Sector">×</button>
    </li>
  </ul>
</div>
