<div class="panel panel-default">
  <div class="panel-body">
    <h4>Debt Transfers</h4>
    <p> Select one or multiple Debts to transfer to another Collector</p>
    <br>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="input-group">
          <select name="sourceCollector" id="inputSourceCollector" class="form-control" required="required" ng-model="vm.sourceCollector"
            ng-options="collector.id as collector.name for collector in vm.sourceCollectors">  
            <option value="" disabled selected>Select Source Collector</option>
        </select>
          <span class="input-group-btn"><button type="button" ng-click="vm.getCollectorDebts()" class="btn btn-warning">Load Debts</button></span>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="input-group">
          <select name="targetCollector" id="inputTargetCollector" class="form-control" required="required" ng-model="vm.targetCollector"
            ng-options="collector.id as collector.name for collector in vm.targetCollectors">  
<option value="" disabled selected>Select Target Collector</option> 
</select>
          <span class="input-group-btn"><button type="button"  ng-click="vm.reassignDebts()" ng-disabled="!vm.isChecked()" class="btn btn-primary">Transfer</button></span>
        </div>
      </div>
    </div>

<br>


    <div class="panel panel-default">
      <div class="panel-body fixed-panel">

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br>
            <input type="checkbox" ng-click="vm.toggleAll()" ng-model="vm.isAllSelected"> <strong>Select all</strong>
            <br>
            <div class="checkbox" ng-repeat="debt in vm.debts">
              <label><input type="checkbox" ng-model="debt.selected" ng-change="vm.optionToggled()"><span>{{debt.debtorName}}</span></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
