<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <input type="text" class="form-control" id="companyTerritoryName" placeholder="Enter CompanyTerritory's Name" ng-model="vm.companyTerritory.companyTerritoryName">
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <button type="button" class="btn btn-large btn-block btn-success" ng-disabled="!vm.canAdd()" ng-click="vm.addCompanyTerritory()">Add CompanyTerritory</button>
  </div>
</div>
<div class="row">
  <ul>
    <li ng-repeat="companyTerritory in vm.companyTerritories track by $index">{{companyTerritory.companyTerritoryName}}

      <button type="button" class="close pull-right" data-dismiss="modal" ng-disabled="!vm.canDelete()" ng-click="vm.deleteCompanyTerritory(companyTerritory)"
        uib-tooltip="Delete this CompanyTerritory">×</button>
    </li>
  </ul>
</div>
