<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <input type="text" class="form-control" id="socialMediaName" placeholder="Enter SocialMedia's Name" ng-model="vm.socialMedia.socialMediaName">
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <button type="button" class="btn btn-large btn-block btn-success" ng-disabled="!vm.canAdd()" ng-click="vm.addSocialMedia()">Add SocialMedia</button>
  </div>
</div>
<div class="row">
  <ul>
    <li ng-repeat="socialMedia in vm.socialMedias track by $index">{{socialMedia.socialMediaName}}

      <button type="button" class="close pull-right" data-dismiss="modal" ng-disabled="!vm.canDelete()" ng-click="vm.deleteSocialMedia(socialMedia)"
        uib-tooltip="Delete this SocialMedia">×</button>
    </li>
  </ul>
</div>
