<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <input type="text" class="form-control" id="exchangeRateName" placeholder="Enter ExchangeRate's Name" ng-model="vm.exchangeRate.exchangeRateName">
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <button type="button" class="btn btn-large btn-block btn-success" ng-disabled="!vm.canAdd()" ng-click="vm.addExchangeRate()">Add ExchangeRate</button>
  </div>
</div>
<div class="row">
  <ul>
    <li ng-repeat="exchangeRate in vm.exchangeRates track by $index">{{exchangeRate.exchangeRateName}}

      <button type="button" class="close pull-right" data-dismiss="modal" ng-disabled="!vm.canDelete()" ng-click="vm.deleteExchangeRate(exchangeRate)"
        uib-tooltip="Delete this ExchangeRate">×</button>
    </li>
  </ul>
</div>
