 
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="btn-group pull-right" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-sm btn-default">Add New Address</button>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body fixed-panel">
        <div class="text-center">
          <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
          <h5>Loading {{vm.title}}...</h5>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

    <div class="form-group">
      <div class="col-sm-12">
        <input type="search" name="invoiceFilter" id="inputInvoiceFilter" class="form-control" ng-model="vm.invoicefilter" placeholder="Filter Invoice #"
          title="Invoice No Filter">
      </div>
    </div>

  </div>

  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

    <button type="button" class="btn btn-large btn-block btn-warning">Pay All</button>
  </div>

</div>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

 
    <ul>
      <li ng-repeat="invoice in vm.invoices">
        <a href="#" uib-popover-template="vm.invoiceView.templateUrl" popover-title="{{invoice.id}}" popover-trigger="'mouseenter'"
          popover-placement="right">{{invoice.id}}</a>

        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" uib-tooltip="Cancel This Invoice" ng-click="vm.cancelSaleInvoice(invoice)"><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;</button>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" uib-tooltip="Print This Invoice" ng-click="vm.printSaleInvoice(invoice)"><span class="glyphicon glyphicon-print"></span>&nbsp;</button>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" uib-tooltip="Pay This Invoice" ng-click="vm.paySaleInvoice(invoice)"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;</button>


      </li>
    </ul>
  </div>
</div>
