<div class="modal-header">
  <h3 class="modal-title">{{vm.title}}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12"> 
      <div class="panel">  
        <unassigned-debts></unassigned-debts>
      </div>
      <div class="panel"> 
        Collector Performance
      </div>
      <div class="panel">
        Returned Cheques 
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="vm.ok($event)">OK</button>
  <button class="btn btn-warning" ng-click="vm.cancel($event)">Cancel</button>
</div>
</script>